<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Info</title>
    <link rel="stylesheet" href="{% static 'myStudentsInfo/css/bootstrap.css' %}">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Walton Students Informations</h2>
    {% block content %}

    {% endblock content %}
</div>





<script src="{% static 'myStudentsInfo/js/popper.js' %}"></script>
<script src="{% static 'myStudentsInfo/js/bootstrap.js' %}"></script>
</body>
</html>